// Colors (TODO: Update with your app specific colors)
$primary-color: #0095FF;
$success-color: #36B37E;
$error-color: #FF6A6A;

//Shadow (TODO: Update with your app specific shadow)
$shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

// Spacers
$spacer-8: 8px;
$spacer-16: 16px;
$spacer-24: 24px;
$spacer-48: 48px;
$spacer-64: 64px;
